.app-header {
	padding: 20px 0;
	&__title {
		margin-top: 20px;
		color: rgb(247, 247, 247);
		font-size: 35px;
		text-align: center;
		font-family: "Slackey", cursive;
		padding: 30px;
		@media all and (min-width: 768px) {
			font-size: 50px;
		}
	}
}

.app-fav_title {
	color: rgb(247, 247, 247);
	font-size: 20px;
	text-align: center;
	font-family: "Slackey", cursive;
	background-color: rgba(37, 37, 37, 0.55);
	padding: 12px;
	margin: auto;
	border-radius: 8px;
	@media all and (min-width: 768px) {
		font-size: 25px;
	}
}

.hide {
	display: none;
}
