* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	height: 100vh;
	font-family: "Roboto", sans-serif;
	margin: 0;
	background: url("../images/pokeball-background-.jpg") no-repeat bottom / cover
		fixed;
	background-size: cover;
}
